<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="linkshorter, linkshort, linkshrt, free, redirector, urlshortener, urlshrinker, url, secure">
  <meta content="Linkshrt - Free Url Shortener!" property="og:title" />
    <meta content="Fast, Secure, and Powerful Link Shortener for Free!" property="og:description" />
  <meta content="#5D68F3" data-react-helmet="true" name="theme-color" />
  <meta content='/media/logo.png' property="og:image" />
  <link rel="shortcut icon" href="/media/logo.png" icon created by Freepik - Flaticon>
  <title>Link Shrt - Yet Another Link Shortener</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>Link Shortener</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  
  <form action="/" method="POST" style="width: 220px; margin : auto;">
  <label for="link">Link</label>
    <input type="url" id="link" name="link" required placeholder="https://example.com">
    <br>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="example-url"required>
     <br>
    <br>
    <button type="submit">Shorten</button>
</form> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr style="width:50%;text-align:center;color:gray;background-color:gray">
<br>
<footer>
<p>Credits <br>Icons made by <a href="https://www.freepik.com/">Freepik</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a></p>
<br>

</footer>

</body>

</html>