html, body {
    font-family: 'Courier New', monospace;
   width: 100%;
   height: 100%;
 background-color: #2F3136;
 }
 h1{
   color: white;
   text-align: center;
 }
 
 input[type=text], select, textarea{
   font-family: 'Courier New', monospace;
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
 }
 
 p{color:#5D68F3;
 text-align: center;}
 button[type=submit] {
   font-family: 'Courier New', monospace;
     width: 100%;
   background-color: #5D68F3;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   
 }